* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(Image/adrien-olichon-ilVYjf0J378-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
}

/* Header */

.header {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 100px;
  background: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Navbar */

.name {
  font-size: 55px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 22px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 23px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
}

.navbar a:hover {
  color: rgb(157, 157, 221);
}

/* Home */

section {
  padding: 0 15%;
}

.home {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.headshot {
  height: 300px;
}

.home-content {
  margin-right: 100px;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 500;
}

.home-content h2 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(157, 157, 221);
}

.home-content p {
  font-size: 20px;
  font-weight: 500;
}

/* Quote */

.quote {
  text-align: center;
  font-size: 25px;
  margin-left: 70px;
  margin-right: 70px;
  font-style: italic;
}

/* Bot Links */

.bot-links {
  background: grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bot-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 35px;
  color: white;
  text-decoration: none;
  margin: 15px;
}

.bot-links a:hover {
  color: rgb(157, 157, 221);
}
